<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>Home page</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto quo odit reprehenderit, suscipit placeat enim
    voluptates soluta reiciendis veritatis iusto obcaecati eum dolores quos dolor perspiciatis explicabo dolore quaerat
    eveniet?Facilis alias eius architecto tenetur ipsam, deleniti illo doloribus ea nam corporis minus possimus.
    Voluptas corrupti non consequuntur error, consequatur quas accusamus cum debitis at sapiente asperiores eius nobis
    minima?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quibusdam placeat expedita. Voluptates quisquam
    ipsa nobis sed minus earum! Esse delectus quae, sunt illo distinctio aut expedita maxime doloremque nam.</p>
</body>

</html>