<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top 5 Crypto</title>
</head>

<body>
  <h1>These are my top 5 crypto</h1>
  <ul>
    <% for( let crypto of top5) { %>
    <li><%= crypto %> </li>
    <% } %>
  </ul>
</body>

</html>