<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Farm</title>
</head>

<body>
  <h1>Add new Farm</h1>
  <form action="/farms" method="post">
    <label for="name">name</label>
    <input type="text" name="name" id="name"> <br>
    <label for="city">city</label>
    <input type="text" name="city" id="city"> <br>
    <label for="email">email</label>
    <input type="email" name="email" id="email"> <br>
    <br>
    <button>submit</button>
  </form>
  <br><br>
  <a href="/farms">home</a>
</body>

</html>