<h1>Sign up</h1>
<form action="/login" method="post">
  <div>
    <label for="username">username</label>
    <input type="text" name="username" id="username">
  </div>
  <div>
    <label for="password">password</label>
    <input type="password" name="password" id="password">
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>