<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>new comment</title>
</head>

<body>
  <h1>new comment</h1>
  <form action="/comments" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"> <br>
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" cols="30" rows="5"></textarea>
    <input type="submit" value="submit">
  </form>
  <br>
  <a href="/comments">go back</a>
</body>

</html>